In [5]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.impute import SimpleImputer

In [6]:
np.random.seed(1)

In [7]:
airbnb = pd.read_csv("airbnb.csv")

In [8]:
airbnb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3555 entries, 0 to 3554
Data columns (total 23 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   host_is_superhost                  3555 non-null   int64
 1   host_identity_verified             3555 non-null   int64
 2   neighbourhood_cleansed             3555 non-null   object
 3   latitude                           3555 non-null   float64
 4   longitude                          3555 non-null   float64
 5   property_type                      3552 non-null   object
 6   room_type                          3555 non-null   object
 7   accommodates                       3555 non-null   int64
 8   bathrooms                          3541 non-null   float64
 9   bedrooms                           3545 non-null   float64
 10  beds                               3546 non-null   float64
 11  bed_type                           3555 non-null   object
 12  Number of amenities                3555 non-null   int64
 13  guests_included                    3555 non-null   int64
 14  price_per_extra_person             3555 non-null   int64
 15  minimum_nights                     3555 non-null   int64
 16  number_of_reviews                  3555 non-null   int64
 17  number_days_btw_first_last_review  3555 non-null   int64
 18  review_scores_rating               2755 non-null   float64
 19  cancellation_policy                3555 non-null   object
 20  price                              3555 non-null   int64
 21  price_gte_150                      3555 non-null   int64
 22  price_category                     3555 non-null   object
dtypes: float64(6), int64(11), object(6)
memory usage: 638.9+ KB

In [9]:
airbnb.describe()

,host_is_superhost,host_identity_verified,latitude,longitude,accommodates,bathrooms,bedrooms,beds,Number of amenities,guests_included,price_per_extra_person,minimum_nights,number_of_reviews,number_days_btw_first_last_review,review_scores_rating,price,price_gte_150
count,3555.000000,3555.000000,3555.000000,3555.000000,3555.000000,3541.000000,3545.000000,3546.000000,3555.00000,3555.000000,3555.000000,3555.000000,3555.000000,3555.000000,2755.000000,3555.000000,3555.000000
mean,0.113080,0.727989,42.339973,-71.084874,3.023629,1.215899,1.246544,1.597293,14.85879,1.427004,10.886639,3.116737,19.126582,279.052602,91.891470,166.060478,0.500422
std,0.316735,0.445058,0.024464,0.031614,1.754808,0.492656,0.738440,0.995467,4.82126,1.050204,19.092755,8.273949,35.666178,408.686952,9.548381,103.378456,0.500070
min,0.000000,0.000000,42.235942,-71.171789,1.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,1.000000,0.000000,0.000000,20.000000,10.000000,0.000000
25%,0.000000,0.000000,42.329875,-71.105183,2.000000,1.000000,1.000000,1.000000,12.00000,1.000000,0.000000,1.000000,1.000000,0.000000,89.000000,85.000000,0.000000
50%,0.000000,1.000000,42.345191,-71.078487,2.000000,1.000000,1.000000,1.000000,15.00000,1.000000,0.000000,2.000000,5.000000,92.000000,94.000000,150.000000,1.000000
75%,0.000000,1.000000,42.354672,-71.062142,4.000000,1.000000,2.000000,2.000000,18.00000,1.000000,20.000000,3.000000,21.000000,402.000000,98.000000,219.000000,1.000000
max,1.000000,1.000000,42.389982,-71.000100,16.000000,6.000000,5.000000,16.000000,30.00000,14.000000,200.000000,300.000000,404.000000,2680.000000,100.000000,650.000000,1.000000

In [10]:
airbnb.isna().sum()

host_is_superhost                      0
host_identity_verified                 0
neighbourhood_cleansed                 0
latitude                               0
longitude                              0
property_type                          3
room_type                              0
accommodates                           0
bathrooms                             14
bedrooms                              10
beds                                   9
bed_type                               0
Number of amenities                    0
guests_included                        0
price_per_extra_person                 0
minimum_nights                         0
number_of_reviews                      0
number_days_btw_first_last_review      0
review_scores_rating                 800
cancellation_policy                    0
price                                  0
price_gte_150                          0
price_category                         0
dtype: int64

In [11]:
category_var_list = list(airbnb.select_dtypes(include='object').columns)
category_var_list

['neighbourhood_cleansed',
 'property_type',
 'room_type',
 'bed_type',
 'cancellation_policy',
 'price_category']

In [12]:
for cat in category_var_list:
    print(f"Category: {cat} Values: {airbnb[cat].unique()}")

Category: neighbourhood_cleansed Values: ['Roslindale' 'Jamaica Plain' 'Mission Hill' 'Longwood Medical Area'
 'Bay Village' 'Leather District' 'Chinatown' 'North End' 'Roxbury'
 'South End' 'Back Bay' 'East Boston' 'Charlestown' 'West End'
 'Beacon Hill' 'Downtown' 'Fenway' 'Brighton' 'West Roxbury' 'Hyde Park'
 'Mattapan' 'Dorchester' 'South Boston Waterfront' 'South Boston'
 'Allston']
Category: property_type Values: ['House' 'Apartment' 'Condominium' 'Villa' 'Bed & Breakfast' 'Townhouse'
 'Entire Floor' 'Loft' 'Guesthouse' 'Boat' 'Dorm' 'Other' nan 'Camper/RV']
Category: room_type Values: ['Entire home/apt' 'Private room' 'Shared room']
Category: bed_type Values: ['Real Bed' 'Pull-out Sofa' 'Futon' 'Airbed' 'Couch']
Category: cancellation_policy Values: ['moderate' 'flexible' 'strict' 'super_strict_30']
Category: price_category Values: ['gte_226' 'lte_$75' 'btw_$75-$150' 'btw_$151-$225']

In [13]:
airbnb.drop(['price_category', 'price_gte_150'], axis=1, inplace = True)

In [14]:
airbnb['property_type'].isna().sum()

3

In [15]:
airbnb["property_type"].fillna("unkown", inplace = True)

In [16]:
airbnb['neighbourhood_cleansed'].isna().sum()

0

In [17]:
airbnb['room_type'].isna().sum() # can see by the results below, no missing values

0

In [18]:
airbnb['bed_type'].isna().sum() # can see by the results below, no missing values

0

In [19]:
airbnb['cancellation_policy'].isna().sum() # can see by the results below, no missing values

0

In [21]:
one_hot_encoding = pd.get_dummies(airbnb[['neighbourhood_cleansed','property_type','cancellation_policy']])

In [22]:
airbnb = airbnb.join(one_hot_encoding)

In [23]:
airbnb = airbnb.drop(['neighbourhood_cleansed','property_type','cancellation_policy'],axis=1)

In [24]:
labelencoder = LabelEncoder()
airbnb['room_type'] = labelencoder.fit_transform(airbnb['room_type'])
airbnb['bed_type'] = labelencoder.fit_transform(airbnb['bed_type'])

In [25]:
airbnb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3555 entries, 0 to 3554
Data columns (total 61 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   host_is_superhost                               3555 non-null   int64
 1   host_identity_verified                          3555 non-null   int64
 2   latitude                                        3555 non-null   float64
 3   longitude                                       3555 non-null   float64
 4   room_type                                       3555 non-null   int32
 5   accommodates                                    3555 non-null   int64
 6   bathrooms                                       3541 non-null   float64
 7   bedrooms                                        3545 non-null   float64
 8   beds                                            3546 non-null   float64
 9   bed_type                                        3555 non-null   int32
 10  Number of amenities                             3555 non-null   int64
 11  guests_included                                 3555 non-null   int64
 12  price_per_extra_person                          3555 non-null   int64
 13  minimum_nights                                  3555 non-null   int64
 14  number_of_reviews                               3555 non-null   int64
 15  number_days_btw_first_last_review               3555 non-null   int64
 16  review_scores_rating                            2755 non-null   float64
 17  price                                           3555 non-null   int64
 18  neighbourhood_cleansed_Allston                  3555 non-null   uint8
 19  neighbourhood_cleansed_Back Bay                 3555 non-null   uint8
 20  neighbourhood_cleansed_Bay Village              3555 non-null   uint8
 21  neighbourhood_cleansed_Beacon Hill              3555 non-null   uint8
 22  neighbourhood_cleansed_Brighton                 3555 non-null   uint8
 23  neighbourhood_cleansed_Charlestown              3555 non-null   uint8
 24  neighbourhood_cleansed_Chinatown                3555 non-null   uint8
 25  neighbourhood_cleansed_Dorchester               3555 non-null   uint8
 26  neighbourhood_cleansed_Downtown                 3555 non-null   uint8
 27  neighbourhood_cleansed_East Boston              3555 non-null   uint8
 28  neighbourhood_cleansed_Fenway                   3555 non-null   uint8
 29  neighbourhood_cleansed_Hyde Park                3555 non-null   uint8
 30  neighbourhood_cleansed_Jamaica Plain            3555 non-null   uint8
 31  neighbourhood_cleansed_Leather District         3555 non-null   uint8
 32  neighbourhood_cleansed_Longwood Medical Area    3555 non-null   uint8
 33  neighbourhood_cleansed_Mattapan                 3555 non-null   uint8
 34  neighbourhood_cleansed_Mission Hill             3555 non-null   uint8
 35  neighbourhood_cleansed_North End                3555 non-null   uint8
 36  neighbourhood_cleansed_Roslindale               3555 non-null   uint8
 37  neighbourhood_cleansed_Roxbury                  3555 non-null   uint8
 38  neighbourhood_cleansed_South Boston             3555 non-null   uint8
 39  neighbourhood_cleansed_South Boston Waterfront  3555 non-null   uint8
 40  neighbourhood_cleansed_South End                3555 non-null   uint8
 41  neighbourhood_cleansed_West End                 3555 non-null   uint8
 42  neighbourhood_cleansed_West Roxbury             3555 non-null   uint8
 43  property_type_Apartment                         3555 non-null   uint8
 44  property_type_Bed & Breakfast                   3555 non-null   uint8
 45  property_type_Boat                              3555 non-null   uint8
 46  property_type_Camper/RV                         3555 non-null   uint8
 47  property_type_Condominium                       3555 non-null   uint8
 48  property_type_Dorm                              3555 non-null   uint8
 49  property_type_Entire Floor                      3555 non-null   uint8
 50  property_type_Guesthouse                        3555 non-null   uint8
 51  property_type_House                             3555 non-null   uint8
 52  property_type_Loft                              3555 non-null   uint8
 53  property_type_Other                             3555 non-null   uint8
 54  property_type_Townhouse                         3555 non-null   uint8
 55  property_type_Villa                             3555 non-null   uint8
 56  property_type_unkown                            3555 non-null   uint8
 57  cancellation_policy_flexible                    3555 non-null   uint8
 58  cancellation_policy_moderate                    3555 non-null   uint8
 59  cancellation_policy_strict                      3555 non-null   uint8
 60  cancellation_policy_super_strict_30             3555 non-null   uint8
dtypes: float64(6), int32(2), int64(10), uint8(43)
memory usage: 621.6 KB

In [26]:
train_df, test_df = train_test_split(airbnb, test_size=0.3)


target = 'price'
predictors = list(airbnb.columns)
predictors.remove(target)

In [27]:
numeric_cols_with_nas = list(train_df.isna().sum()[train_df.isna().sum() > 0].index)
numeric_cols_with_nas

['bathrooms', 'bedrooms', 'beds', 'review_scores_rating']

In [28]:
scaler = preprocessing.StandardScaler()
cols_to_stdize = ['latitude', 'longitude', 'accommodates', 
                   'bathrooms', 'bedrooms', 'beds', 'Number of amenities', 
                   'guests_included', 'price_per_extra_person', 'minimum_nights', 
                   'number_of_reviews', 'number_days_btw_first_last_review', 
                   'review_scores_rating']                
               

train_df[cols_to_stdize] = scaler.fit_transform(train_df[cols_to_stdize]) 


test_df[cols_to_stdize] = scaler.transform(test_df[cols_to_stdize])

In [29]:
train_X = train_df[predictors]
train_y = train_df[target] 
test_X = train_df[predictors]
test_y = test_df[target] 

train_df.to_csv('airbnb_train_df.csv', index=False)
train_X.to_csv('airbnb_train_X.csv', index=False)
train_y.to_csv('airbnb_train_y.csv', index=False)
test_df.to_csv('airbnb_test_df.csv', index=False)
test_X.to_csv('airbnb_test_X.csv', index=False)
test_y.to_csv('airbnb_test_y.csv', index=False)